name: Testing

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  pytest:
    name: Pytest (${{ matrix.os }} Python${{ matrix.python_version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - name: Check out hcipy repo
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        filter: tree:0
        path: repo

    - name: Checkout array-api-tests repo
      uses: actions/checkout@v6
      with:
        repository: data-apis/array-api-tests
        submodules: 'true'
        path: array_api_tests

    - name: Set up conda environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: ci-env
        python-version: ${{ matrix.python_version }}
        environment-file: repo/.github/conda_environments/testing_env.yml
        auto-activate-base: false

    - name: Install optional dependencies if available
      run: |
        while read requirement; do
          conda install --yes $requirement || true
        done < repo/.github/conda_environments/optional_dependencies.txt
      shell: bash -l {0}

    - name: Install our package
      run: |
        cd repo
        pip install -e ".[dev]"
      shell: bash -l {0}

    - name: Install array_api_tests dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install array-api-strict
        python -m pip install -r array_api_tests/requirements.txt
      shell: bash -l {0}

    - name: Print package versions
      run: |
        python --version
        python -c "import numpy; print('Numpy', numpy.__version__)"
        python -c "import scipy; print('Scipy', scipy.__version__)"
        python -c "import matplotlib; print('Matplotlib', matplotlib.__version__)"
        python -c "import hcipy; print('HCIPy', hcipy.__version__)"
        conda list
      shell: bash -l {0}

    - name: Run tests
      run: |
        pytest repo/tests -ra --cov=./repo --cov-report=xml
      shell: bash -l {0}

    - name: Run the array_api test suite
      env:
        ARRAY_API_TESTS_MODULE: array_api_strict
        ARRAY_API_STRICT_API_VERSION: 2024.12
      run: |
        pytest array_api_tests/ -ra --cov=./repo --cov-report --cov-append --skips-file array-api-strict-skips.txt
      shell: bash -l {0}

    - name: Upload coverage to codecov.io
      if: always()
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
